<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto">
        {% if user.is_authenticated %}
            {% if user.is_staff %}
                <!-- Admin Navigation -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin_dashboard' %}">
                        <i class="fas fa-tachometer-alt"></i> Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin_complaint_list' %}">
                        <i class="fas fa-tasks"></i> Manage Complaints
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/">
                        <i class="fas fa-cog"></i> Admin Panel
                    </a>
                </li>
            {% else %}
                <!-- Citizen Navigation -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'citizen_dashboard' %}">
                        <i class="fas fa-home"></i> Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'submit_complaint' %}">
                        <i class="fas fa-plus-circle"></i> Submit Complaint
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'my_complaints' %}">
                        <i class="fas fa-list"></i> My Complaints
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'my_feedback' %}">
                        <i class="fas fa-star"></i> My Feedback
                    </a>
                </li>
            {% endif %}
            <li class="nav-item">
                <span class="nav-link text-light">
                    <i class="fas fa-user"></i> {{ user.fullname }}
                </span>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="confirmLogout(event)">
                    <i class="fas fa-sign-out-alt"></i> Logout
                </a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'citizen_login' %}">
                    <i class="fas fa-sign-in-alt"></i> Login
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'citizen_register' %}">
                    <i class="fas fa-user-plus"></i> Register
                </a>
            </li>
        {% endif %}
    </ul>
</div>